################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ML.Algorithm/.vs/ML.Algorithm/v16/.suo
/ML.Algorithm/ML.Algorithm/bin/Debug
/ML.Algorithm/ML.Algorithm/obj/Debug
